<div ng-cloak>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <div flex="20">
                <md-button ng-click="goTo('/')" aria-label="Go Back">
                    Go Back
                </md-button>
            </div>
            <div flex="70" layout-align="center">
                <h2>
                    <span>CHAT</span>
                </h2>
            </div>
        </div>
    </md-toolbar>
    <iframe src="/_chat" style="width:100vw;height:calc(100vh - 64px);border-width:0;position:absolute"></iframe>
</div>